/* h1{
    color: red;
    text-align: center;
}
body{
    background-color: black;
}

#inputLabel{
  
    height: 80px;
    width: 33%;
    text-align: right;
    font-size: 40px;
    background-color: red;
}
#calculator{
    text-align: center;
    padding-top: 30px;
    border: 1px black;
}

button{
    height: 80px;
    width: 100px;
    font-size: 40px;
    background-color:  #ff6600;
    margin: 4px;
    border-radius: 10px;

    
}
@media(max-width:700px){
    #inputLabel
    
    {
        float: none;
        text-align: center;
        width: 93%;
    }
} */